################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Z2Practice/.vs/Z2Practice/v16
/Z2Practice/Z2Practice/bin/Debug/netcoreapp2.2
/Z2Practice/Z2Practice/obj
/Z2Practice/.vs/Z2Practice/DesignTimeBuild
